<ng-container *ngIf="!isFetching else spinner">
  <table class="table">
    <tbody>
    <tr>
      <td class="table-secondary">Name</td>
      <td> {{person.name}} </td>
    </tr>
    <tr>
      <td class="table-secondary">Birth Year</td>
      <td> {{person.birth_year}} </td>
    </tr>
    <tr>
      <td class="table-secondary">Eye Color</td>
      <td> {{person.eye_color}} </td>
    </tr>
    <tr>
      <td class="table-secondary">Gender</td>
      <td> {{person.gender}} </td>
    </tr>
    <tr>
      <td class="table-secondary">Hair Color</td>
      <td> {{person.hair_color}} </td>
    </tr>
    <tr>
      <td class="table-secondary">height</td>
      <td> {{person.height}} </td>
    </tr>
    <tr>
      <td class="table-secondary">Mass</td>
      <td> {{person.mass}} </td>
    </tr>
    <tr>
      <td class="table-secondary">Skin Color</td>
      <td> {{person.skin_color}} </td>
    </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #spinner>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>
