@import '~bootstrap/scss/bootstrap';

.container {
  margin-top: 3rem;

  h1 {
    text-align: center;
    &:hover {
      cursor: pointer;
      color: $primary
    }
  }
  span {
    display: block;
    text-align: center;
  }
}
