<div class="container">
  <h1 routerLink="home">Angular Star Wars</h1>
  <span>Frontend application for Starwars characters built with angular</span>
  <br>
  <br>
  <router-outlet></router-outlet>
</div>
