<ng-container *ngIf="!isFetching else spinner">
  <div class="input-group mb-3">
    <input class="form-control"
           placeholder="name"
           #input>
    <button type="button" class="btn btn-primary"
            (click)="getPeople(input.value)">search</button>
  </div>

  <br>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Birth Year</th>
      <th scope="col">Eye Color</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of shownPeople; index as i"
        (click)="navigateToPerson(person.url)"
        class="person">
      <td>{{ person.name }} </td>
      <td>{{ person.birth_year }}</td>
      <td>{{ person.eye_color }}</td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination [collectionSize]="collectionSize"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  (pageChange)="refreshPeople()">
  </ngb-pagination>
</ng-container>

<ng-template #spinner>
  <div class="d-flex justify-content-center">
    <div class="spinner-border"
         role="status"></div>
  </div>
</ng-template>
